@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');


.body {
    font-family: Google Sans, sans-serif;
}

.topnav {
    background-color: #222;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav .logo {
    float: left;
    height: 60px;
    margin: 5px 10px;
}
.grid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
}

.grid a {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    margin: 20px;
    height: 100px;
    width: 100px;
    text-align: center;
    text-decoration: none;
}